.email-compose-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.email-compose-form a {
    margin-bottom: 30px;
}

.email-compose-form label {
    color: #777;
}

.email-compose-form input {
    width: 100%;
    border: none;
    /* box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%); */
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}

.email-compose-btn {
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 16px;
    padding: 10px;
    width: 100px;
}

.email-compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    background-color: #fafafb;
}

.email-compose-btn div {
    margin-left: 10px;
}

.email-compose-form button {
    background-color: #1a73e8;
    outline: none;
    font-weight: 500;
    color: #fff;
    border: none;
    box-sizing: border-box;
    font-size: .875rem;
    letter-spacing: .25px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 0;
    min-width: 24px;
    padding: 0;
    margin: 0;
    max-width: 104px;
    min-width: 72px;
    height: 36px;
    align-self: center;
}