@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: quicksand-bold;
    src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: exo;
    src: url(../fonts/Exo2-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
}

html,
body,
#root,
.app {
    min-height: 100%;
}

body {
    background-color: #f6fafb;
    text-align: center;
    font-family: quicksand, sans-serif;
    margin: 0;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

button,
i {
    cursor: pointer;
}

textarea {
    resize: none;
    height: 200px;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}

textarea,
input {
    outline: none;
    border: transparent;
    /* width: 100%; */
}

.about-page {
    margin: 0 15%;
}

input::placeholder {
    font-family: quicksand, Arial, Helvetica, sans-serif;
}

.logo {
    padding-left: 20px;
    color: #159097;
    font-size: 1.8rem;
    font-family: quicksand;
}

.logo span {
    font-family: exo;
    font-size: 1.75rem;
}

span.logo {
    padding-left: 0;
}

.logo.email span {
    color: #fcd681;
}

.logo.notes span {
    color: #d67461;
}

.logo.books span {
    color: RGB(149, 144, 124)!;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 800px) {
    .main-nav {
        flex-direction: column;
        position: absolute;
        align-self: flex-start;
        right: 50;
        padding-inline-start: 0;
        background-color: rgb(212, 212, 212);
        border: 1px solid #ebebeb;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
        /* transform: translateY(-120%); */
        /* transition: transform 0.6s; */
        visibility: visible;
    }
    .btn-menu {
        display: block;
    }
    .btn-menu:hover .main-nav {
        /* transform: translateY(0); */
        /* background-color: rgb(71, 71, 71); */
        /* box-shadow:none; */
        visibility: visible;
    }
}