@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: candal;
    src: url(../fonts/Candal-Regular.ttf);
}

html,
body,
#root,
.app {
    height: 100%;
}

body {
    background-color: #f6fafb;
    text-align: center;
    font-family: roboto, sans-serif;
    margin: 0;
}


/* footer {
    align-self: center;
    background-color: rgb(248, 182, 156);
    padding: 5px;
    display: flex;
    justify-content: center;
    width: calc(100% - 10px);
}

h1 {
    font-size: 1.75rem;
    background-color: rgba(216, 136, 105, 0.877);
    padding: 20px;
    margin: 0;
} */

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #333;
}


/* ???????????????????? */


/* ul { 
    display: flex;
    padding: 0;
    justify-content: center;
} */

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

button,
i {
    cursor: pointer;
}

textarea {
    resize: none;
    height: 100px;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}

textarea,
input {
    outline: none;
    border: transparent;
    width: 100%;
}