@import './cmps/email-compose.css';
@import './cmps/email-details.css';
.email-list,
.email-inbox-mail {
    margin: 0;
    width: 100%;
}

.email-inbox-mail {
    display: grid;
    grid-template-columns: 1fr 12fr 2fr;
    ;
    grid-row: 1;
    align-items: center;
}

.email-inbox-mail h5 {
    text-align: left;
}

.email-btns {
    display: flex;
    justify-content: space-evenly;
}

.email-sub-body-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.email-details-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.email-star {
    margin: auto;
}

.email-inbox-mail {
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

.email-inbox-mail:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
    ;
}

article.unread {
    background-color: #dde0e0;
}

.email-sub-body {
    display: flex;
    justify-content: flex-start;
}

.email-sub-body p {
    margin: auto 0;
}

.email-main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
}

.email-main>a {
    width: 100px;
}

.email-main>* {
    text-align: left;
    align-items: flex-start;
}

.email-side-bar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
}

.inbox-symbol,
.inbox-txt {
    background-color: #fce8e6;
    /* border-radius: 0 16px 16px 0; */
}

.email-search {
    justify-content: center;
}


/* .email-search input[type="text"] */

.email-search input::placeholder {
    padding-left: 10px
}

.email-search input {
    background: #f1f3f4;
    border-radius: 8px;
    outline: none;
    padding: 10px 0px;
    width: 100%;
    border: 1px solid transparent;
    transition: background 100ms ease-in, width 100ms ease-out;
    transition-property: background, width;
    transition-duration: 100ms, 100ms;
    transition-timing-function: ease-in, ease-out;
    transition-delay: 0s, 0s;
}

.email-side-bar div {
    cursor: pointer;
}

.starred.fas.fa-star {
    color: gold;
}

.fas.fa-star {
    color: #cfd0d0;
}

.email-filter input {
    padding: 20px 0px;
}

.fa-plus {
    margin: auto;
    color: gold;
}