.email-list,
.email-inbox-mail {
    border: 1px solid black;
}

.email-inbox-mail {
    display: flex;
    justify-content: space-between;
}

.email-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.email-details .unread {
    font-family: raleway-bold;
}

.email-list {
    width: 70vw;
}

.email-main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
}

.email-main>* {
    display: flex;
    align-items: center;
}

.email-side-bar {
    flex-direction: column;
}

.email-side-bar>div {
    border: 1px solid black;
}

.email-search {
    justify-content: center;
}

.email-compose-btn {
    justify-content: center;
}