.filter {
    margin: auto;
    font-size: 1rem;
}

.book-filter {
    display: flex;
    margin-bottom: 20px;
}

.book-filter input,
.books-search-bar input {
    display: flex;
    width: 70%;
}

.search-book {
    flex-direction: column;
}

.add-books-modal {
    flex-direction: column;
}

.book-list {
    background-color: inherit;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-gap: 20px;
    padding: 20px 0;
    width: 100%;
}

.book-preview {
    background-color: #fff;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform .3s;
}

.book-preview img {
    width: 100%;
}