
.book-filter {
    margin-bottom: 20px;
}

.add-books-modal button {
    background-color: inherit;
    border: none;
}

.book-list {
    background-color: inherit;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 200px));
    grid-gap: 20px;
    padding: 20px 0;
    margin: 0 15%;
}

.book-preview {
    background-color: #fff;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform .3s;
}

.book-preview:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.book-preview img {
    width: 100%;
}

.books-app input{
    box-shadow: 0 0 5px rgb(165, 165, 165);
    height: 25px;
    margin-left: 10px;
}

.books-app li{
    margin: 5px;
    transition: transform .3s; 
}
.books-app li:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.book-filter , .books-search-bar{
    justify-content: center;
}