 /* .notes-list{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
} */

.notes-list{
    /* columns: 100px 3; */
    column-count: 3;
    column-span: all;
}

.single-note{
    display: inline-block;
    position: relative;
    width: 330px;
    padding: 10px;
    margin: 20px 0;
}


.notes-list i.type{
    position:absolute;
left: 0;
}