.add-note{
    /* width: 70vw; */
    padding: 15px;
    font-size: 25px;
    background-color: rgb(216, 216, 216);
}

.note-input input{
    padding: 5px;
    flex-grow: 1;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(39, 39, 39);
}

.choose-type-buttons {
    flex-grow: 1;
}

.choose-type-buttons >*{
    color: rgb(167, 167, 167);
    background-color: inherit;
    border: none;
    width: 50px;
}

button.active{
   color:  rgb(15, 15, 15);
}

.add-note i{
font-size: 30px;
}