/* .note-preview{
    border: 1px solid;
} */

/* .clean-list-white{
background-color: cornsilk;
}

.clean-list-green{
background-color: rgba(0, 141, 24, 0.637);
}

.clean-list-red{
background-color: rgba(179, 0, 0, 0.733);
} */

