.app-header {
    display: flex;
    justify-content: space-between;
    background-color: #f4fafc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 1px #333;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    padding-left: 0;
    gap: 30px;
}

.app-header a {
    margin-left: 10px;
    overflow: hidden;
}

.btn-menu {
    display: none;
    background-color: transparent;
    color: #333;
    font-size: 2em;
    border: none;
    cursor: pointer;
    outline: none;
    align-self: center;
    padding-right: 20px;
}