@import './cmps/note-preview.css';
@import './cmps/note-list.css';
@import './cmps/note-add.css';
@import './cmps/filter-note.css';

.main-app-notes{
    align-items: center;
    justify-content: center;
    margin: 0 10%;
}